<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.test.mapper.BoardMapper">
	<select id="getList" resultType="com.board.test.dto.BoardDto">
		<![CDATA[select * from board where bno > 0]]>
	</select>
	
	<!-- 게시물보기 -->
	<select id="GetBoardContent" resultType="com.board.test.dto.BoardDto" parameterType="com.board.test.dto.BoardDto">
	select * from board where bno=#{bno}
	</select>
	
	<!-- 게시물 작성 -->
	<insert id="InsertBoard" parameterType="com.board.test.dto.BoardDto">
		insert into board (title, content, regdate, writer) values (#{title},
		#{content} , CURRENT_TIMESTAMP, #{writer})
	</insert>
	
	<!-- 게시물 수정 -->
	<update id="update" parameterType="com.board.test.dto.BoardDto">
	update board set title=#{title}, content=#{content}, writer = #{writer} where bno=#{bno}
	</update>
	
	<!-- 게시물삭제 -->
	<delete id="DeleteBoard" parameterType="int">
	delete from board where bno=#{bno}
	</delete>
	
	<!-- 게시물 조회수 -->
	<update id="updatehit" parameterType="com.board.test.dto.BoardDto">
	update board set hit=hit+1 where bno=#{bno}
	</update>
	
	<select id="getTotalCount" resultType="int">
       select count(*) from board where bno>0
	</select>
	
 	<select id="getListWithPaging" resultType="com.board.test.dto.BoardDto"> 
   	<![CDATA[ 
 	  select  
 	    bno, title, content, writer, regdate 
 	  from  
 	      ( 
 	      select /*+INDEX_DESC(board pk_board) */ 
 	        rownum rn, bno, title, content, writer, regdate  
 	      from  
 	        board
 	      where rownum <= #{pageNum} * #{amount}
 	      )
 	      where rn > (#{pageNum} -1) * #{amount}
 	  ]]> 

 	</select> 
	
</mapper>
